
#container {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    letter-spacing: 15px;
}

#filterContainer {
    padding: 50px;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

#dropdown {
    width: 200px;
    font-family: 'Montserrat', sans-serif;
}

#dropdownMenuButton {
    font-family: 'Montserrat', sans-serif;
}

#resultContainer {
    background-color: white;
    height: 100%;
    padding: 50px;
    align-content: center;
    margin: auto;
}

#areaCards {
    padding-bottom: 25px;
    margin: auto;
    justify-content: center;
}

#cardTitle {
    margin-left: 100px;
}

#areaCardRow {
    align-content: center;
    margin: auto;
}

.collapse{
    height: 200px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
/* #chart-area {
    display: block; 
    height: 175px; 
    width: 351px;
} */


#seeMoreButton {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

.successChart {
    height: 200px;
}

.areaCards {
    height: 500px;
    margin-left: 140px;
}

#percentage {
    display: flex;
    justify-content: center;
    font-size: 30px;
}